#carousel {
  width:600px;
  overflow: hidden;
  margin: 50px auto;
  border: 2px solid black;
}
#carousel ul {
  width: 3000px;
  margin: 0;
  padding: 0;
}
#carousel ul li{
  float: left;
  list-style-type: none;
  width: 600px;
  height: 500px;
}



